<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="com.flowebb.tides.station.DynamoStationFinder" level="DEBUG"/>
    <logger name="com.flowebb.tides.station.NoaaStationFinder" level="DEBUG"/>
    <logger name="com.flowebb.tides.station.StationService" level="DEBUG"/>
    <logger name="com.flowebb.tides.station.TideLevelCalculator" level="DEBUG"/>
    <logger name="software.amazon.awssdk" level="INFO"/>
    <logger name="io.ktor.client.HttpClient" level="WARN"/>
    <logger name="io.ktor.client.engine" level="INFO"/>
    <logger name="io.ktor.client" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>

